 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Eraser, serif;
}

 header {
     padding: 16px;
     padding-bottom: 0px;
     display: flex;
     color: white;
     text-align: center;
     font-size: 2em;
     background: rgba(0, 0, 0, 0.4);
 }

 header h2{
     padding: 16px;
     padding-bottom: 0px;
 }

 header h5{
    padding: 32px;
    padding-bottom: 0px;
    padding-left: 0px;
}

 .logo {
     padding: 16px;
     padding-bottom: 0px;
     width: 2.6em;
     height: 2.4em;
 }

 nav {
    background: rgba(0, 0, 0, 0.4);
 }

 body {
     background-image: url("Blackboard.png");
     position: relative;
    }

body::after {
    content: '';
    display: block;
    height: -20px;
}

main {
    margin: 2em;
}

p {
    color: wheat;
    font-family: "Arial";
}

main h2 {
    color: wheat;
}

section {
    display: inline;
    margin: 2em;
    display: block;
    color: wheat;
    text-align: center;
}

section p {
    font-family: "Arial";
}

 article {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
 }

 iframe {
    margin: 2em;
    display: flex;
    width: 420px;
    height: 315px; 
 }
 #mainnav ul {
    list-style: none;
    display: flex;
}

#mainnav li {
    width: 100%;
    text-align: center;
    position: relative;
}

#mainnav a {
    color: white;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
    font-weight: bold;
    font-size: 12px;
}

#mainnav a:hover {
    text-decoration: none;
    color: pink;
    background: rgba(0, 0, 0, 0.9);
}

#mainnav li:hover .submenu > li {
    display: block;
    top: 0;
}

.submenu li {
    display: none;
    position: absolute;
    top: 0;m
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

@font-face {
    font-family: Eraser;
    src: url("KGTenThousandReasons.ttf");
}

/* footer */
footer {
    bottom: 0;
    width: 100%;
    color: wheat; 
    background-color: rgba(0,0,0, 0.4);
    text-align: center;
    font-size: 11px;
    height: 20px;
    position: fixed;
}

/* Inlogscherm en registerscherm */
#register {
    height: 390px;
    background-color: rgba(0,0,0,0.4);
}

#inloggen {
    height: 270px;
    padding-top: -20px;
    background-color:rgba(0,0,0,0.4);
}

#berichtplaatsen {
    height:  410px;
    padding-top: -20px;
    background-color: rgba(0, 0, 0, 0.4);
}

#inloggen main, #register main, #berichtplaatsen main{ 
    width: 400px;
    margin: 0px auto;
    margin-top: 150px;
    text-align: center;
    font-family: Arial;

}
#inloggen main  h2, #register main h2, #berichtplaatsen main h2{
    color: wheat;
    padding-top: 10px;

}
#inloggen main form, #register main form, #berichtplaatsen main form {
    color: wheat;
    height: 40px;
    width: 400px;
    padding-top: 20px;
}
#inloggen main form input, #register main form input, #berichtplaatsen main form input {
    font-family: "Arial";
    width: 400px;
    height: 40px; 
}

#inloggen main form label, #register main form label, #berichtplaatsen main form label {
    font-family: "Arial";
}

#berichtplaatsen main form textarea {
    width: 400px;
    height: 150px;
}


/* over ons pagina */
#overons {  
    display: block;
    margin-top: 60px;
    height: 500px;
    color: wheat;
    text-align: center;
}
#overons p {
    font-family: "Arial";
    width: 600px;
    margin: 0 auto;
}

/* forum bericht plaatsen pagina
#berichtplaatsen main{
    display: block; 
    background-color: rgba(0, 0, 0, 0.4);
    color: wehat;
    text-align: center;
    margin-top: 60px;
    height: 500px;
    color: wheat;
}
#berichtplaatsen main form {
    font-family: Arial;
} */




/* mobile */
@media only screen and (max-width: 400px) {

#mainnav {
    background-color: rgba(0, 0, 0,0.6);
}
    header h2 {
        padding-top: 20px;
   
        font-size: 22px;
    }
    header img {
        padding-bottom: 10px;
        padding-top: 10px;
     width: 80px;
     height: 80px;   
    }
    #mainnav ul {
      flex-direction: column;
    }
#mainnav a {
    height: 48px;
}
.submenu {
    position: static;
    width: 100%;
}
.submenu a {
    width: 95%;
    margin: 0auto;
background-color: rgba(99, 99, 99, 0.3);
}
}

/* Tablets */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {

    }

    #mainnav { 
        background-color: red; 
    }
}

/* desktops */
@media only screen and (min-width: 961px) {
    body {

    }
}

*/