 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Eraser, serif;
}

 header {
     padding: 16px;
     padding-bottom: 0px;
     display: flex;
     color: white;
     text-align: center;
     font-size: 2em;
     background: rgba(0, 0, 0, 0.4);
 }

 header h2 {
     padding: 16px;
     padding-bottom: 0px;
 }

 header img {
     padding: 16px;
     padding-bottom: 0px;
     width: 2.5em;
     height: 2.4em;
 }

 nav {
    background: rgba(0, 0, 0, 0.4);
 }

 body {
     background-image: url("Blackboard.png");
    }

section {
    margin-top: 2em;
    display: inline;
    display: block;
    color: wheat;
    text-align: center;
}

section p {
    font-family: "Arial";
}

 article {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
 }

 .videos {
    word-wrap: break-word;
 }

 .text {

 }

 iframe {
    margin: 2em;
    display: flex;
    width: 420px;
    height: 315px; 
 }

#mainnav a {
    color: white;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
    font-weight: bold;
    font-size: 12px;
}

#mainnav a:hover {
    text-decoration: underline;
    color: pink;
    background: rgba(0, 0, 0, 0.4);
}

#mainnav ul {
    list-style: none;
    display: flex;
}

#mainnav li {
    width: 100%;
    text-align: center;
    position: relative;
}

#mainnav li:hover .submenu > li {
    display: block;
    top: 0;
}

.submenu li {
    display: none;
    position: absolute;
    top: 0;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

@font-face {
    font-family: Eraser;
    src: url("KGTenThousandReasons.ttf");
}

/* footer */
footer {
    bottom: 0;
    width: 100%;
    color: wheat; 
    background-color: rgba(0,0,0, 0.4);
    text-align: center;
    font-size: 11px;
<<<<<<< HEAD
=======
}
footer p {
    font-family: "Arial";
>>>>>>> 812030b505098cc04c9eded0233da0ddadd52237
}

/* Inlogscherm en registerscherm */
#register {
    height: 390px;
    background-color: rgba(0,0,0,0.4);
}

#inloggen {
    height: 270px;
    padding-top: -20px;
    background-color:rgba(0,0,0,0.4);
}

#inloggen main, #register main{ 
    width: 400px;
    margin: 0px auto;
    margin-top: 150px;
    text-align: center;
    font-family: Arial;

}
#inloggen main  h2, #register main h2 {
    color: wheat;
    padding-top: 10px;

}
#inloggen main form, #register main form {
    color: wheat;
    height: 40px;
    width: 400px;
    padding-top: 20px;
}
#inloggen main form input, #register main form input {
    font-family: "Arial";
    width: 400px;
    height: 40px; 
}

#inloggen main form label, #register main form label {
    font-family: "Arial";
}

/* over ons pagina */
#overons {  
    display: block;
    margin-top: 60px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.4);
    color: wheat;
    text-align: center;
}
#overons p {
    font-family: "Arial";
    width: 600px;
    margin: 0 auto;
}

/* bezoeker bericht plaatsen pagina */








/*

@media only screen and (max-width: 400px) {
    body {

    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {

    }
}

@media only screen and (min-width: 961px) {
    body {

    }
}

*/