 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Eraser, serif;
}


/* algemeen */

body {
    background-image: url("afbeeldingen/Blackboard.png");
    position: relative;
}

 header {
     padding: 16px;
     padding-bottom: 0px;
     display: flex;
     color: white;
     text-align: center;
     font-size: 2em;
     background: rgba(0, 0, 0, 0.4);
     align-items: flex-start;
 }

 article {
     display: flex;
 }

 header h2 {
     display: inline;
     padding: 16px;
     padding-bottom: 0px;   
 }

 header h5{
    padding: 32px;
    padding-bottom: 0px;
    padding-left: 0px;
}

 header form {
     margin-top: 20px;
     
align-self: stretch;
 }

 nav {
    background: rgba(0, 0, 0, 0.4);
 }

 p {
    color: wheat;
    font-family: "Arial";
}

.logo {
    padding: 16px;
    padding-bottom: 0px;
    width: 2.6em;
    height: 2.4em;
}

.submenu li {
    display: none;
    position: absolute;
    top: 0;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

#mainnav ul {
    list-style: none;
    display: flex;
}

#mainnav li {
    width: 100%;
    text-align: center;
    position: relative;
}

#mainnav a {
    color: white;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
    font-weight: bold;
    font-size: 12px;
}

#mainnav a:hover {
    text-decoration: none;
    color: pink;
    background: rgba(0, 0, 0, 0.9);
}

#mainnav li:hover .submenu > li {
    display: block;
    top: 0;
}

/* search bar videos  en forum */
#searchbar  {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom:10px;
}
#searchbar input {
    width: 300px;
    height: 25px;
}
#forummain h3 {
    color: wheat;
}


 /* footer */

footer {
    bottom: 0;
    width: 100%;
    color: wheat; 
    background-color: rgba(0,0,0, 0.4);
    text-align: center;
    font-size: 11px;
}
footer p {
    font-family: "Arial";
    float: bottom;
}


/*Homepage*/

main {
    margin: 2em;
}

section {
    display: inline;
    margin: 2em;
    display: block;
    color: wheat;
    text-align: center;
}

section {
    display: inline;
    margin: 2em;
    display: block;
    color: wheat;
    text-align: center;
}

main h2 {
    color: wheat;
}

section p {
    font-family: "Arial";
}

 iframe {
    margin: 2em;
    display: flex;
    width: 420px;
    height: 315px; 
 }

@font-face {
    font-family: Eraser;
    src: url("lettertypes/KGTenThousandReasons.ttf");
}

#indexforum {
    display: block;
 }

 h5 { 
    margin: 0;
    padding: 0;
    font-size: 0;

} 

/* forum */
.posts {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: wheat;
    background-color:rgba(0,0,0,0.4);
}

.posts h3 {
    color: wheat;
}

/* Inlogscherm en registerscherm */
#register {
    height: 390px;
    background-color: rgba(0,0,0,0.4);
}

#inloggen {
    height: 270px;
    padding-bottom: 20px;
    background-color:rgba(0,0,0,0.4);
}

#berichtplaatsen {
    height:  410px;

    background-color: rgba(0, 0, 0, 0.4);
}

#inloggen main, #register main, #berichtplaatsen main{ 
    width: 400px;
    margin: 0px auto;
    margin-top: 150px;
    text-align: center;
    font-family: Arial;

}
#inloggen main  h2, #register main h2, #berichtplaatsen main h2{
    color: wheat;
    padding-top: 10px;

}
#inloggen main form, #register main form, #berichtplaatsen main form {
    color: wheat;
    height: 40px;
    width: 400px;
    padding-top: 20px;
}
#inloggen main form input, #register main form input, #berichtplaatsen main form input {
    font-family: "Arial";
    width: 400px;
    height: 40px; 
}

#inloggen main form label, #register main form label, #berichtplaatsen main form label {
    font-family: "Arial";
}

#berichtplaatsen main form textarea {
    width: 400px;
    height: 150px;
    font-family: "Arial";
}


/* over ons pagina */
#overons {  
    display: block;
  margin-right: 0px;
    margin-left: 0px;
    height: 550px;
    color: wheat;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
#overons p {
    font-family: "Arial";
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}


/* forum posts */
#forummain  h2{
    padding-top: 30px;
    padding-bottom: 5px;
    }
    .forumpost {
        border: 2px solid #7B6F59;
        font-family: "Arial";
        background-color: rgba(0, 0, 0, 0.3);
    
        margin-bottom: 20px;
    }
    .forumposthead {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: wheat;
        font-size: 15px;
        font-family: "Arial";
    
    }
    .forumposthead h3 {
        font-family: "Arial";
        padding: 5px;
    }
    .forumpost p {
        border: 1px solid#7B6F59;
        padding: 10px;
        padding-left: 5px;
        padding-right: 5px;
        font-family: "Arial";
    }
   

/* mobile */
@media only screen and (max-width: 400px) {

    /* mobile voor het menu */
#mainnav {
    background-color: rgba(0, 0, 0,0.6);
}
    header h2 {
        padding-top: 20px;
   
        font-size: 22px;
    }
    header img {
        padding-bottom: 10px;
        padding-top: 10px;
     width: 80px;
     height: 80px;   
    }
    #mainnav ul {
      flex-direction: column;
    }
#mainnav a {
    height: 48px;
}
.submenu {
    position: static;
    width: 100%;
}
.submenu a {
    width: 95%;
    margin: 0 auto;
background-color: rgba(99, 99, 99, 0.3);
}


/* mobile voor over ons */
#overons {
    width: 200px;
}
#overons p {
    width: 200px;
}

/* register en inlog pagina voor mobile */
#inloggen main, #register main, #berichtplaatsen main{ 
    width: 250px;
    margin-top: 50px;
}
#inloggen main form, #register main form, #berichtplaatsen main form {
    width: 250px;
}
#inloggen main form input, #register main form input, #berichtplaatsen main form input {
    width: 250px;   
}

}

