 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Eraser, serif;
}


/* algemeen */

body {
    background-image: url("afbeeldingen/Blackboard.png");
    position: relative;
}

 header {
     padding: 16px;
     padding-bottom: 0px;
     display: flex;
     color: white;
     text-align: center;
     font-size: 2em;
     background: rgba(0, 0, 0, 1);
     align-items: flex-start;
 }

 article {
     display: flex;
 }

 header h2 {
     display: inline;
     padding: 16px;
     padding-bottom: 0px;   
 }

 header h5{
    padding: 32px;
    padding-bottom: 0px;
    padding-left: 0px;
}

 header form {
     margin-top: 20px;
     
align-self: stretch;
 }

 nav {
    background: rgba(0, 0, 0, 1);
 }

 p {
    color: wheat;
    font-family: "Arial";
}

a {
    text-decoration: none; 
    color: wheat;
}

.logo {
    padding: 16px;
    padding-bottom: 0px;
    width: 2.6em;
    height: 2.4em;
}

.submenu li {
    display: none;
    position: absolute;
    top: 0;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
}

#mainnav ul {
    list-style: none;
    display: flex;
}

#mainnav li {
    width: 100%;
    text-align: center;
    position: relative;
}

#mainnav a {
    color: wheat;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
    font-weight: bold;
    font-size: 12px;
}

#mainnav a:hover {
    text-decoration: none;
    color: green;
    background: rgba(31, 31, 31, 1);
}

#mainnav li:hover .submenu > li {
    display: block;
    top: 0;
}

/* search bar voor videos & forum pagina*/
#searchbar  {
    padding-right: 10px;
    padding-bottom:25px;
}
#searchbar input {
    width: 300px;
    height: 25px;
}
#searchbarh3{
    color: wheat;
    font-size: 20px;
}


 /* footer */

footer {
    bottom: 0;
    width: 100%;
    color: wheat; 
    background-color: rgba(0,0,0, 0.4);
    text-align: center;
    font-size: 11px;
    height: 20px;
}
footer p {
    font-family: "Arial";

}


/*Homepage*/

main {
    margin: 2em;
}

section {
    display: inline;
    margin: 2em;
    display: block;
    color: wheat;
    text-align: center;
}

section {
    display: inline;
    margin: 2em;
    display: block;
    color: wheat;
    text-align: center;
}

main h2 {
    color: wheat;
}

section p {
    font-family: "Arial";
}

 iframe {
    margin: 2em;
    display: flex;
    width: 420px;
    height: 315px; 
 }

@font-face {
    font-family: Eraser;
    src: url("lettertypes/KGTenThousandReasons.ttf");
}

#indexforum {
    display: block;
 }

 h5 { 
    margin: 0;
    padding: 0;
    font-size: 0;

} 

/* forum */
.posts {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: wheat;
    background-color:rgba(0,0,0,0.4);
}

.posts h3 {
    color: wheat;
}

/* forum algemeen */
main#forumalgemeen {
    margin: 50px auto 50px auto;
    display: block; 
    background-color: rgba(0,0, 0, 0.4);
height: auto;
width: 70%;
color: wheat;
}
main#forumalgemeen h2 { 
background-color: rgba(0, 0, 0, 0.5);
padding: 10px 0 0 20px;
    border: solid black;
    border-width: 5px 5px 4px 5px;
}
main#forumalgemeen h3 { 
    font-family: arial;
    padding: 5px;
}
#forumalgemeen ul {
border: solid black;
border-width: 0px 3px 3px 3px;
    list-style-type: none;
    padding: 10px;
}
#forumalgemeen ul li a {
    padding: 5px 10px 5px 10px;
  display: block;
    bordeR: 2px solid black;
    border-width: 3px 3px 0px 3px;
font-family: arial; 
font-size: 20px;
background-color: rgba(0, 0, 0, 0.2);
}
#forumalgemeen ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
#forumalgemeen ul ul {
    border: 3px solid black;
}
#forumalgemeen ul ul h4{
    font-family: Arial;
    padding-bottom: 5px;
}
#forumalgemeen ul ul li {
    font-family: arial;
    padding: 2px 0px 2px 0px; 
}
#forumalgemeen ul ul li:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* de recente posts zijn een flexbox om de postnaam 
en de tekst naast elkaar te krijgen */
.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.post p:nth-child(2) {
    font-size: 10px;
}
.post p:first-child:hover {
    text-decoration: underline;
}


/* Inlogscherm en registerscherm */

#register {
    height: 390px;
    background-color: rgba(0,0,0,0.4);
    margin-bottom: 20px;
}
#inloggen {
    height: 270px;
    padding-bottom: 20px;
    background-color:rgba(0,0,0,0.4);
}
#berichtplaatsen {
    height:  410px;
padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}


#inloggen main, #register main, #berichtplaatsen main{ 
    width: 400px;
    margin: 0px auto;
    margin-top: 150px;
    text-align: center;
    font-family: Arial;
}
#inloggen main  h2, #register main h2, #berichtplaatsen main h2{
    color: wheat;
    padding-top: 10px;

}
#inloggen main form, #register main form, #berichtplaatsen main form {
    color: wheat;
    height: 40px;
    width: 300px;
    padding-top: 20px;
    margin: 0px auto;

}
#inloggen main form input, #register main form input, #berichtplaatsen main form input {
    font-family: "Arial";
    width: 250px;
    height: 40px; 
}

#inloggen main form label, #register main form label, #berichtplaatsen main form label {
    font-family: "Arial";
}

#berichtplaatsen main form textarea {
    width: 150px;
    height: 150px;
    font-family: "Arial";
}


/* over ons pagina */
#overons {  
    display: block;
  margin-right: 0px;
    margin-left: 0px;
    height: auto;
    color: wheat;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
#overons p {
    font-family: "Arial";
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
}
#overons h2 {
    padding-top: 10px;
}
#overons img {
    margin: 5px;
}
/* forum thread overzicht met categorie (rekenen, vragen, algemeen etc */
.forum-thread-overzicht {
    background-color: rgba(0, 0, 0, 0.3);
height: 100%;

}

/* forum thread */
.forumthreadall {
    display: block;
    background-color: rgba(0,0,0,0.4);
 
    height: auto;
    padding: 20px;
}

.forumthread {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 3px solid black;
}

#forummain  h2{
    padding-top: 30px;
    padding-bottom: 5px;
    }

    .forumpost {
        border: 2px solid #7B6F59;
        font-family: "Arial";
        background-color: rgba(0, 0, 0, 0.2);
    margin-top: 5px;
        margin-bottom: 20px;
    }
    .forumposthead {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: wheat;
        font-size: 15px;
        font-family: "Arial";
        background-color: rgba(0, 0, 0, 0.25);
    
    }
    .forumposthead h3 {
        font-family: "Arial";
        padding: 5px;
    }
    .forumpost p {
        border: 1px solid#7B6F59;
        padding: 10px;
        padding-left: 5px;
        padding-right: 5px;
        font-family: "Arial";
    }
   

/* mobile */
@media only screen and (max-width: 400px) {

    /* mobile voor het menu */
#mainnav {
    background-color: rgba(0, 0, 0,1);
}
    header h2 {
        padding-top: 20px;
   
        font-size: 22px;
    }
    header img {
        padding-bottom: 10px;
        padding-top: 10px;
     width: 80px;
     height: 80px;   
    }
    #mainnav ul {
      flex-direction: column;
    }
#mainnav a {
    height: 48px;
}
.submenu {
    position: static;
    width: 100%;
}
.submenu a {
    width: 100%;
    margin: 0 auto;
background-color: rgba(20, 20, 20, 1);
}

/* mobile voor over ons */
#overons p {
 width: 75%;
}

/* register en inlog pagina voor mobile */
#inloggen main, #register main, #berichtplaatsen main{ 
    margin-top: 10px;
    width: 100%
}

}


